.contact-page {
	background: url('../assets/boat.svg') no-repeat right;
	background-size: 50%;
	align-items: flex-start;
}

.contact {
	width: 40%;
	margin-left: 5%;
}
.contact-title {
	margin: 0;
}

form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
input[type='text'],
input[type='email'],
textarea {
	letter-spacing: 1px;
	background: rgba(lighten($s-color, 24%), 0.95);
	border-radius: 5px;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
	border: none;
	resize: none;
}
input[type='text'],
input[type='email'] {
	flex-basis: 49%;
}
textarea {
	width: 100%;
}
.send-button {
	margin: 1rem 0;
	letter-spacing: 1px;
	background: transparent;
	border: none;
	border-bottom: 1px solid $black;
}

.contact-items {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
	font-size: 2rem;
}

.contact-item:hover,
.contact-item a:focus {
	animation: pulse 0.3s infinite alternate;
	a {
		color: $a-color;
	}
}

@keyframes pulse {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.2);
	}
}
