html {
  font-size: 100%;
}

body {
  background-color: $white;
  font-family: $m-font;
  letter-spacing: 1px;
  color: $black;
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: calc(32px + (80 - 32) * (100vw - 320px) / (1440 - 320));
}

a {
  text-decoration: none;
  color: $black;
}

main {
  max-width: 1440px;
  max-height: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(16, calc(100vw / 16));
  grid-template-rows: repeat(10, 10vh);
  align-items: center;
  position: relative;
}
