html {
	font-size: calc(15px + (17 - 15) * (100vw - 320px) / (1440 - 320));
}

body {
	background: linear-gradient(60deg, darken($white, 2%), lighten($white, 2%));
	font-family: $m-font;
	letter-spacing: 1px;
	color: $black;
	margin: 0 auto;
}

h1,
h2,
h3,
h4 {
	font-family: $h-font;
	font-weight: 400;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

img {
	width: 100%;
	display: block;
}
h1 {
	font-size: calc(32px + (80 - 32) * (100vw - 320px) / (1440 - 320));
}
h2 {
	font-size: calc(18px + (32 - 18) * (100vw - 320px) / (1440 - 320));
	margin: 0;
}

a {
	text-decoration: none;
	color: $black;
	&:focus {
		outline: none;
		color: $a-color;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

main {
	animation: fadeIn 0.8s both;
	max-width: 1920px;
	max-height: 1280px;
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}
.hide-main {
	display: none;
}

.next-page,
.repo,
.live-link {
	text-transform: uppercase;
	margin-top: 1rem;
	padding: 5px 0;
	border: 2px solid transparent;
	border-bottom-color: $black;

	&:focus,
	&:hover {
		color: $a-color;
		border: 2px dashed $a-color;
	}
}

// @keyframes shake {
// 	from {
// 		transform: translateX(-15%);
// 	}
// 	to {
// 		transform: translateX(15%);
// 	}
// }
