.landing-page {
	animation-name: fadeIn;
	background: url('../assets/lily.svg') no-repeat 140% 90%;
	background-size: 65%;
}

.greeting-box {
	width: 50%;
	margin-left: 5%;
	a {
		margin-right: 4rem;
	}
}
.hello {
	margin: 0;
	font-family: $h-font;
}

.hello-info {
	width: 80%;
}
