.landing-page {
  background: url('../assets/lily.svg') no-repeat 140% 90%;
  background-size: 65%;
}

// home page
.hello {
  font-family: $h-font;
  grid-area: 5 / 2 / 6 / 11;
}
.hello-info {
  grid-area: 7 / 2 / 8 / 9;
}

.view-my-work {
  grid-column: 2 / 6;
  grid-row: 8 / 9;

  grid-area: 8 / 2 / 9 / 6;
  a {
    border-bottom: 1px $black solid;
    &:focus,
    &:hover {
      color: $a-color;
    }
  }
}
