@media screen and (max-width: 1240px) {
  .portfolio-page {
    flex-direction: column;
    align-items: center;
    background: url('../assets/crane.svg') fixed center no-repeat;
    background-size: 60%;
  }

  .portfolio-title {
    margin: 1rem auto 0;
    text-align: center;

    &::after {
      display: none;
    }
  }
  .portfolio-titles {
    flex: 1 1 5%;
    a {
      margin: 0 auto 0.5rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .contact-page {
    background-size: 70%;
  }
  .contact {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 900px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .project {
    flex: 1 1 45%;
    max-width: 48%;
    min-height: 600px;
    flex-direction: column;
    &:nth-child(even) {
      flex-direction: column;
    }
    a {
      margin: 2rem auto 1rem;
    }
  }
  .thumbnail {
    flex: 1 1 50%;
  }
  .keywords {
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 812px) {
  .greeting-box {
    width: 80%;
  }
  .hello-info {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .about-page {
    display: block;
    padding: 5% 0 0;
  }
  .about-me-info {
    width: 100%;
  }
  .photo {
    margin: 0 auto;
    width: 40vw;
    height: 40vw;
    min-width: 200px;
    min-height: 200px;
  }
  .about-title {
    text-align: center;
  }
  .about-me {
    width: 100%;
    a {
      display: inline-block;
    }
    p {
      padding: 0 5%;
    }
    p:last-child {
      text-align: center;
    }
  }
  .about-me-info {
    overflow: auto;
    height: calc(100vh - 300px);
    a {
      margin: 0.5rem auto;
    }
  }
}

@media screen and (max-width: 680px) {
  .contact-page {
    background-size: 100%;
  }
  .contact {
    width: 90%;
  }
}

@media screen and (max-width: 648px) {
  .projects-box {
    margin-top: 1rem;
    padding: 0;
  }
  .projects {
    justify-content: center;
  }
  .project {
    flex-basis: 100%;
    max-width: 90%;
  }
}
@media screen and (max-width: 550px) {
  input[type='text'],
  input[type='email'] {
    flex-basis: 100%;
  }

  form {
    justify-content: center;
  }
  .contact-title {
    text-align: center;
  }
  .contact-page,
  .contact {
    background: none;
  }
  .greeting-box {
    width: 100%;
  }
  .hello-info {
    width: 90%;
  }
  .landing-page {
    background-size: 82.5%;
    background-position-y: 98%;
  }
}

@media screen and (max-width: 415px) {
  .menu-button {
    top: 10px;
    left: 10px;
  }
  .project-info {
    padding-top: 0;
  }
}

@media screen and (max-width: 370px) {
  .hello-info {
    width: 95%;
  }
}
