.menu-button {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	position: fixed;
	top: 20px;
	left: 20px;
	font-size: 1.5rem;
	font-weight: 400;
	background-color: $black;
	border: none;
	color: $white;
	z-index: 20;
	transition: all 0.5s;
	&:hover,
	&:focus {
		background: $a-color;
		border-radius: 30%;
	}
	&::before {
		content: '';
		display: block;
		width: 50%;
		height: 2px;
		background: $white;
		position: absolute;
		top: 40%;
		left: 25%;
		transition: all 0.5s;
	}
	&::after {
		content: '';
		display: block;
		position: absolute;
		background: $white;
		width: 35%;
		height: 2px;
		background: $white;
		bottom: 40%;
		left: 25%;
		transition: all 0.5s;
	}
}

.menu-button-close {
	transition: all 0.3s;
	background: $white;
	&:hover,
	&:focus {
		background: $a-color;
		&::before {
			background-color: $white;
		}
		&::after {
			background-color: $white;
		}
	}
	&::before {
		width: 50%;
		top: 48%;
		transform: rotate(45deg);
		background-color: $a-color;
		transition: all 0.5s;
	}
	&::after {
		width: 50%;
		transform: rotate(-45deg);
		bottom: 48%;
		background-color: $a-color;
		transition: all 0.5s;
	}
}
.menu {
	display: none;
}

.show-menu {
	background-color: $black;
	animation: fadeIn 0.3s;
	z-index: 15;
	position: fixed;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-links {
	font-family: $h-font;
	text-align: center;
	//for list style disc to stay small
	font-size: calc(24px + (30 - 24) * (100vw - 320px) / (1440 - 320));
}

.menu-link {
	color: $white;
}
.menu-link-name {
	font-size: calc(46px + (72 - 46) * (100vw - 320px) / (1440 - 320));
}
.menu-item:hover,
.menu-item:focus-within,
.menu-link:focus {
	list-style: disc;
	color: $a-color;
	a {
		color: $a-color;
	}
}
