.portfolio-page {
	// background: url('../assets/crane.svg') fixed left no-repeat;
	// background-size: 50%;
	flex-direction: row;
	align-items: flex-start;

	// align-items: center;
}

.portfolio-titles {
	flex: 1 1 20%;
	padding-left: 2%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	h1 {
		flex: 1 1 100%;
	}
}
// 	top: 10vh;
// 	left: 10%;
// 	z-index: 5;
// 	h1 {
// 		margin-bottom: 1rem;
// 	}
// }

// .projects {
// 	z-index: 5;
// 	width: 50%;
// }

.portfolio-title {
	margin: 30vh 0 0;
	&::after {
		animation: fadeIn 0.4s;
		position: fixed;
		bottom: 0;
		left: 0;
		display: block;
		content: '';
		width: 32vmax;
		height: 400px;
		background: url('../assets/crane.svg') no-repeat left center;
		background-size: contain;
		z-index: -5;
		transform: scaleX(-1);
	}
}
// text-align: center;

.projects-box {
	overflow: auto;
	flex: 2 1 70%;
	height: 100vh;
	padding: 0 2%;
}

.project {
	background: rgba($c-color, 0.8);
	margin-bottom: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&:nth-child(even) {
		flex-direction: row-reverse;
		// text-align: right;
	}
}
.project-info,
.thumbnail {
	flex: 1 1 46%;
}

.project-info {
	padding: 1rem;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

// .project-info {
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: space-between;
// 	align-items: flex-start;
// }
// .project {
// 	background-color: $c-color;
// 	padding: 1rem 6rem;
// 	display: flex;
// 	justify-content: center;
// 	flex-wrap: wrap;
// 	&:hover {
// 		figcaption {
// 			opacity: 100;
// 			transition: all 0.3s;
// 		}
// 	}
// 	h2 {
// 		border-top: 1px solid $black;
// 		text-transform: uppercase;
// 	}
// }
// figure {
// 	overflow: hidden;
// 	width: 100%;
// 	position: relative;
// }

// figcaption {
// 	transition: all 0.3s;
// 	position: absolute;
// 	top: 0;
// 	bottom: 0;
// 	left: 0;
// 	right: 0;
// 	opacity: 0;
// 	background-color: rgba(lighten($white, 10%), 0.95);
// 	padding: 5% 15%;
// }

.keywords {
	padding-left: 1rem;
	list-style-type: disc;
	list-style-position: inside;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.keyword {
	flex: 1 1 50%;
}

.live-link,
.repo {
	margin-right: 3rem;
}

@media (max-width: 1240px) {
	.portfolio-page {
		flex-direction: column;
		align-items: center;
		background: url('../assets/crane.svg') fixed center no-repeat;
		background-size: 60%;
	}

	.portfolio-title {
		margin: 0;
		text-align-last: center;

		&::after {
			display: none;
		}
	}
	.portfolio-titles {
		flex: 1 1 5%;
		a {
			margin: 0 auto 0.5rem;
		}
	}
}

@media (max-width: 900px) {
	.projects {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.project {
		// background: transparent;
		flex: 1 1 45%;
		max-width: 48%;
		min-height: 550px;
		flex-direction: column;
		&:nth-child(even) {
			flex-direction: column;
		}
		a {
			margin: 0 auto;
		}
	}
	.thumbnail {
		flex: 1 1 50%;
	}
	.keywords {
		flex: 1 1 100%;
	}
	.project-info {
		padding-top: 0;
	}
}

@media (max-width: 648px) {
	.projects-box {
		padding: 0;
	}
	.projects {
		justify-content: center;
	}
	.project {
		flex-basis: 100%;
		max-width: 90%;
	}
}

@media (max-width: 400px) {
	.project-info {
		margin-top: -15%;
	}
}
