article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: 'MADE Likes Slab';
  src: url("../assets/made-likes-slab.otf"), url("../assets/made-likes-slab.otf");
  /* IE */
}

@font-face {
  font-family: 'Raleway';
  src: url("../assets/raleway-medium.ttf"), url("../assets/raleway-medium..ttf");
  /* IE */
}

html {
  font-size: calc(15px + (17 - 15) * (100vw - 320px) / (1440 - 320));
}

body {
  background: linear-gradient(60deg, #f2e0de, #f8eeec);
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  color: #191919;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-family: "MADE Likes Slab", serif;
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

h1 {
  font-size: calc(32px + (80 - 32) * (100vw - 320px) / (1440 - 320));
}

h2 {
  font-size: calc(18px + (32 - 18) * (100vw - 320px) / (1440 - 320));
  margin: 0;
}

a {
  text-decoration: none;
  color: #191919;
}

a:focus {
  outline: none;
  color: #f82749;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main {
  -webkit-animation: fadeIn 0.8s both;
          animation: fadeIn 0.8s both;
  max-width: 1920px;
  max-height: 1280px;
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.hide-main {
  display: none;
}

.next-page,
.repo,
.live-link {
  text-transform: uppercase;
  margin-top: 1rem;
  padding: 5px 0;
  border: 2px solid transparent;
  border-bottom-color: #191919;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.next-page:focus, .next-page:hover,
.repo:focus,
.repo:hover,
.live-link:focus,
.live-link:hover {
  color: #f82749;
  border-bottom: 2px dashed #f82749;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-button {
  border-radius: 50%;
  min-width: 35px;
  min-height: 35px;
  max-width: 60px;
  max-height: 60px;
  width: 5vw;
  height: 5vw;
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 5px;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #191919;
  border: none;
  color: #f5e7e5;
  z-index: 20;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-button:hover, .menu-button:focus {
  background: #f82749;
  border-radius: 30%;
  outline: none;
}

.menu-button::before {
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  background: #f5e7e5;
  position: absolute;
  top: 40%;
  left: 25%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-button::after {
  content: '';
  display: block;
  position: absolute;
  background: #f5e7e5;
  width: 35%;
  height: 2px;
  background: #f5e7e5;
  bottom: 40%;
  left: 25%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-button-close {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #f5e7e5;
}

.menu-button-close:hover, .menu-button-close:focus {
  background: #f82749;
}

.menu-button-close:hover::before, .menu-button-close:focus::before {
  background-color: #f5e7e5;
}

.menu-button-close:hover::after, .menu-button-close:focus::after {
  background-color: #f5e7e5;
}

.menu-button-close::before {
  width: 50%;
  top: 48%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #f82749;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-button-close::after {
  width: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 48%;
  background-color: #f82749;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu {
  display: none;
}

.show-menu {
  background-color: #191919;
  -webkit-animation: fadeIn 0.3s;
          animation: fadeIn 0.3s;
  z-index: 15;
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-links {
  font-family: "MADE Likes Slab", serif;
  text-align: center;
  font-size: calc(24px + (30 - 24) * (100vw - 320px) / (1440 - 320));
}

.menu-link {
  color: #f5e7e5;
}

.menu-link-name {
  font-size: calc(46px + (72 - 46) * (100vw - 320px) / (1440 - 320));
}

.menu-item:hover,
.menu-item:focus-within,
.menu-link:focus {
  list-style: disc;
  color: #f82749;
}

.menu-item:hover a,
.menu-item:focus-within a,
.menu-link:focus a {
  color: #f82749;
}

.landing-page {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  background: url("../assets/lily.svg") no-repeat 140% 90%;
  background-size: 65%;
}

.greeting-box {
  width: 50%;
  margin-left: 5%;
}

.greeting-box a {
  margin-right: 4rem;
}

.hello {
  margin: 0;
  font-family: "MADE Likes Slab", serif;
}

.hello-info {
  width: 80%;
}

.portfolio-page {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.portfolio-titles {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  padding-left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.portfolio-titles h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.portfolio-title {
  margin: 30vh 0 0;
}

.portfolio-title::after {
  -webkit-animation: fadeIn 0.4s both;
          animation: fadeIn 0.4s both;
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  content: '';
  width: 32vmax;
  height: 400px;
  background: url("../assets/crane.svg") no-repeat left center;
  background-size: contain;
  z-index: -5;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.projects-box {
  overflow: auto;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 70%;
          flex: 2 1 70%;
  height: 100vh;
  padding: 2%;
}

.project {
  background: rgba(252, 248, 247, 0.8);
  margin-bottom: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.project-info,
.thumbnail {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 46%;
          flex: 1 1 46%;
}

.thumbnail:hover img,
.thumbnail a:focus img {
  -webkit-filter: drop-shadow(0px 0px 5px #191919);
          filter: drop-shadow(0px 0px 5px #191919);
}

.project-info {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-info h2 {
  text-transform: uppercase;
  text-align: center;
}

.keywords {
  padding-left: 1rem;
  list-style-type: disc;
  list-style-position: inside;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.keyword {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.live-link,
.repo {
  margin-right: 3rem;
}

.about-page {
  padding: 5%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
}

.about-me a {
  margin-right: 2rem;
}

.underline {
  border-bottom: 2px solid #191919;
}

.about-title {
  margin: 0;
}

.photo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  max-width: 450px;
  background: url("../assets/cloud.svg"), radial-gradient(rgba(250, 183, 192, 0.2), rgba(250, 183, 192, 0.2));
  background-size: 170%;
  border: 5px solid #f78797;
  border-radius: 50%;
  overflow: hidden;
}

.photo img {
  -webkit-filter: saturate(0.8) grayscale(0.1);
          filter: saturate(0.8) grayscale(0.1);
}

.contact-page {
  background: url("../assets/boat.svg") no-repeat right;
  background-size: 50%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact {
  background-color: rgba(252, 248, 247, 0.8);
  padding: 2% 6%;
  width: 55%;
  margin-left: 7%;
}

.contact-title {
  margin: 0;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input[type='text'],
input[type='email'] {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  border: 2px solid #191919;
}

input[type='text'],
input[type='email'],
textarea,
.send-button {
  letter-spacing: 1px;
  background: #f9f1f0;
  margin: 0.5rem 0;
  padding: 0.5rem;
  resize: none;
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus,
.send-button:focus {
  border: 2px dashed #f82749;
  outline: none;
}

.send-button {
  border: 2px solid #191919;
}

.send-button:hover,
.send-button:focus {
  border: 2px dashed #f82749;
  color: #f82749;
}

textarea {
  border: 2px solid #191919;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.contact-items {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2rem;
}

.contact-item:hover,
.contact-item a:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact-item:hover a,
.contact-item a:focus a {
  color: #f82749;
}

.contact-item:hover .icon,
.contact-item a:focus .icon {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.icon {
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 1240px) {
  .portfolio-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url("../assets/crane.svg") fixed center no-repeat;
    background-size: 60%;
  }
  .portfolio-title {
    margin: 1rem auto 0;
    text-align: center;
  }
  .portfolio-title::after {
    display: none;
  }
  .portfolio-titles {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 5%;
            flex: 1 1 5%;
  }
  .portfolio-titles a {
    margin: 0 auto 0.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .contact-page {
    background-size: 70%;
  }
  .contact {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 900px) {
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .project {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45%;
            flex: 1 1 45%;
    max-width: 48%;
    min-height: 600px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project a {
    margin: 2rem auto 1rem;
  }
  .thumbnail {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  .keywords {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media screen and (max-width: 812px) {
  .greeting-box {
    width: 80%;
  }
  .hello-info {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .about-page {
    display: block;
    padding: 5% 0 0;
  }
  .photo {
    margin: 0 auto;
    width: 40vw;
    height: 40vw;
    min-width: 200px;
    min-height: 200px;
  }
  .about-title {
    text-align: center;
  }
  .about-me {
    width: 100%;
  }
  .about-me a {
    display: inline-block;
  }
  .about-me p {
    padding: 0 5%;
  }
  .about-me p:last-child {
    text-align: center;
  }
  .about-me-info {
    overflow: auto;
    height: calc(100vh - 300px);
  }
  .about-me-info a {
    margin: 0.5rem auto;
  }
}

@media screen and (max-width: 680px) {
  .contact-page {
    background-size: 100%;
  }
  .contact {
    width: 90%;
  }
}

@media screen and (max-width: 648px) {
  .projects-box {
    margin-top: 1rem;
    padding: 0;
  }
  .projects {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 90%;
  }
}

@media screen and (max-width: 550px) {
  input[type='text'],
  input[type='email'] {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-title {
    text-align: center;
  }
  .contact-page,
  .contact {
    background: none;
  }
  .greeting-box {
    width: 100%;
  }
  .hello-info {
    width: 90%;
  }
  .landing-page {
    background-size: 82.5%;
    background-position-y: 98%;
  }
}

@media screen and (max-width: 415px) {
  .menu-button {
    top: 10px;
    left: 10px;
  }
  .project-info {
    padding-top: 0;
  }
}

@media screen and (max-width: 370px) {
  .hello-info {
    width: 95%;
  }
}
