article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: 'MADE Likes Slab';
  src: url("../assets/made-likes-slab.otf"), url("../assets/made-likes-slab.otf");
  /* IE */
}

@font-face {
  font-family: 'Raleway';
  src: url("../assets/raleway-medium.ttf"), url("../assets/raleway-medium..ttf");
  /* IE */
}

html {
  font-size: 100%;
}

body {
  background-color: #f5e7e5;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  color: #191919;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-family: "MADE Likes Slab", serif;
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

h1 {
  font-size: calc(32px + (80 - 32) * (100vw - 320px) / (1440 - 320));
}

a {
  text-decoration: none;
  color: #191919;
}

a:focus {
  outline: none;
  color: #f82749;
}

main {
  max-width: 1440px;
  max-height: 900px;
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hide-main {
  display: none;
}

.next-page,
.repo,
.live-link {
  text-transform: uppercase;
  border-bottom: 1px solid #191919;
}

.next-page:focus, .next-page:hover,
.repo:focus,
.repo:hover,
.live-link:focus,
.live-link:hover {
  color: #f82749;
  font-style: italic;
  border-bottom: 1px dashed #f82749;
}

@-webkit-keyframes shake {
  from {
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
  }
  to {
    -webkit-transform: translateX(15%);
            transform: translateX(15%);
  }
}

@keyframes shake {
  from {
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
  }
  to {
    -webkit-transform: translateX(15%);
            transform: translateX(15%);
  }
}

.menu-button {
  border-radius: 50%;
  height: 8vmin;
  width: 8vmin;
  max-width: 60px;
  max-height: 60px;
  min-width: 40px;
  min-height: 40px;
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #191919;
  border: none;
  color: #f5e7e5;
  z-index: 20;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-button:hover, .menu-button:focus {
  background: #f82749;
  border-radius: 30%;
}

.menu-button::before {
  content: '';
  display: block;
  width: 50%;
  height: 1px;
  background: #f5e7e5;
  position: absolute;
  top: 40%;
  left: 25%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-button::after {
  content: '';
  display: block;
  position: absolute;
  background: #f5e7e5;
  width: 35%;
  height: 1px;
  background: #f5e7e5;
  bottom: 40%;
  left: 25%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-button-close {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #f5e7e5;
}

.menu-button-close:hover, .menu-button-close:focus {
  background: #f82749;
}

.menu-button-close:hover::before, .menu-button-close:focus::before {
  background-color: #f5e7e5;
}

.menu-button-close:hover::after, .menu-button-close:focus::after {
  background-color: #f5e7e5;
}

.menu-button-close::before {
  width: 50%;
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #f82749;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-button-close::after {
  width: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 50%;
  background-color: #f82749;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu {
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -30;
  position: fixed;
}

.show-menu {
  background-color: #191919;
  opacity: 100;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 10;
}

.menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "MADE Likes Slab", serif;
  height: 100vh;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}

.menu-link {
  color: #f5e7e5;
}

.menu-link-name {
  font-size: calc(24px + (72 - 24) * (100vw - 320px) / (1440 - 320));
}

.menu-item:hover,
.menu-item:focus-within,
.menu-link:focus {
  list-style: disc;
  color: #f82749;
}

.menu-item:hover a,
.menu-item:focus-within a,
.menu-link:focus a {
  color: #f82749;
}

.landing-page {
  background: url("../assets/lily.svg") no-repeat 140% 90%;
  background-size: 65%;
}

.greeting-box {
  width: 60%;
  height: 40%;
  padding-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hello {
  margin: 0;
  font-family: "MADE Likes Slab", serif;
}

.hello-info {
  width: 80%;
}

.portfolio-page {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.portfolio-page::before {
  position: fixed;
  content: '';
  left: 0;
  top: 35%;
  display: block;
  width: 50vmax;
  height: 50vmax;
  background: url("../assets/cloud.svg") no-repeat;
  background-size: cover;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.portfolio-titles {
  position: fixed;
  top: 10vh;
  left: 10%;
}

.portfolio-title {
  margin-bottom: 0;
}

.projects {
  z-index: 5;
  width: 50%;
  margin: 1vmax 2vmax 1vmax 0;
}

.project {
  padding: 3vmax 3vmax 0;
  margin: 0.5rem auto;
  background: rgba(252, 248, 247, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.project:hover figcaption {
  opacity: 100;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.project figure {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  position: relative;
}

.project figcaption {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(252, 248, 247, 0.95);
}

.project figcaption h2 {
  text-align: center;
}

.thumbnail {
  -webkit-filter: saturate(60%);
          filter: saturate(60%);
}

.repo,
.live-link {
  margin: 1.5vmax auto;
  border-bottom: 1px solid #191919;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25;
          flex: 1 1 25;
}

.about-page {
  background: url("../assets/boat.svg") no-repeat right;
  background-size: 45%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-me {
  margin-left: 5%;
  width: 50%;
}

.about-me p:last-child {
  margin-top: 2rem;
}

.about-me p:last-child a {
  margin-right: 2rem;
}

.about-title {
  margin: 0;
}

.photo {
  background: #f78797;
  border-radius: 50%;
}

.contact-page {
  background: url("../assets/crane.svg") no-repeat right;
  background-size: 55%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact {
  width: 45%;
  margin-left: 5%;
}

.contact-title {
  margin: 0;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input[type='text'],
input[type='email'],
textarea {
  letter-spacing: 1px;
  background: rgba(255, 250, 250, 0.95);
  border-radius: 5px;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 2px transparent solid;
  resize: none;
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
  border: 2px dashed #f82749;
}

input[type='text'],
input[type='email'] {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}

textarea {
  width: 100%;
}

.send-button {
  padding: 0;
  margin: 1rem 0;
  letter-spacing: 1px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #191919;
}

.contact-items {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2rem;
}

.contact-item:hover,
.contact-item a:focus {
  -webkit-animation: pulse 0.3s infinite alternate;
          animation: pulse 0.3s infinite alternate;
}

.contact-item:hover a,
.contact-item a:focus a {
  color: #f82749;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
